:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 140px;
  margin-top: 24px;

  .recommendation-title {
    display: flex;
    color: #D4D4CE;
    font-weight: 500;
    font-size: 36px;
    align-items: center;
    flex-direction: column;

    .line {
      display: flex;
      width: 10%;
      height: 6px;
      background-color: #FF5252;
    }
  }

  .row {
    display: inherit;
    flex-direction: row;
    max-height: 400px;
    margin-top: 24px;
    padding-left: 67px;

    .row-square {
      cursor: pointer;


      &__description {
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: absolute;
        bottom: 40px;
        left: 47px;

        span {
          color: #ffffff;
        }

        .line {
          display: flex;
          height: 3px;
          background-color: #ffffff;
          width: 100%;
        }
      }

    }

    img {
      width: 415px;
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .row-square:hover img {
      opacity: 0.3;
    }

    img:hover .overlay {
      opacity: 1;
    }
  }
}
