@import "../component-styles/item-flex";

:host {

  .btn-primary {
    background-color: #FF5252;
    justify-content: center;
    cursor: pointer;
  }

  .disabled {
    cursor: default;
    opacity: 0.6;
  }

}

:host-context(.btn-primary--modal) {

  .btn-primary--modal[type="submit"] {
    border: none;
  }

}

:host-context(.btn-none) {

  .btn-primary {
    background-color: #ffffff;
    box-shadow: none;
  }
}

:host-context(.form-btn) {

  .btn-primary {
    max-width: 150px;
  }
}

