<div class="table-responsive">
  <table class="table table-borderless">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Hotel</th>
    <th scope="col">Miasto</th>
    <th scope="col">Zameldowanie</th>
    <th scope="col">Wymeldowanie</th>
    <th scope="col">Długość pobytu</th>
    <th scope="col">Cena (PLN)</th>
    <!--<app-btn-primary class="btn-none" [btnText]="'Rezerwuj'"></app-btn-primary>-->
    </thead>
    <tbody>
    <tr>
      <!--<td class="col">-->
      <!--<img *ngIf="id === 0 || id === 4 || id === 10" src="../../../assets/img/Lufthansa_logo_1.png"/>-->
      <!--<img *ngIf="id === 1 || id === 8" src="../../../assets/img/Aeroflot_1932.png"/>-->
      <!--<img *ngIf="id === 2 || id === 3 || id === 6 || id === 9 || id === 11 || id === 12" src="../../../assets/img/screen1.jpg"/>-->
      <!--<img *ngIf="id === 5 || id == 7" src="../../../assets/img/lot.png"/>-->
      <!--</td>-->
      <td class="col">{{hotels | json}}</td>
      <td class="col">{{id}}</td>
      <td class="col">{{city}}</td>
      <td class="col">{{hotelName}}</td>
      <td class="col">{{firstDate}}</td>
      <td class="col">{{secDate}}</td>
      <td class="col">{{time}}</td>

      <td>
        <span>{{price}} PLN</span>
        <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/booking/', id]"></app-btn-primary>
      </td>
    </tr>

    </tbody>
  </table>
</div>



