<div class="footer-container">
  <div class="links-container">
    <span>O nas</span>
    <span>Praca</span>
    <span>Kontakt dla prasy</span>
    <span>Polityka prywatności</span>
    <span>Regulamin</span>
    <span>Gwarancja cenowa</span>
    <span>Aplikacje</span>
    <span>Linie lotnicze</span>
  </div>

  <div class="bottom">
    <div class="social-icons">
      <img src="../../../assets/icons/facebook-logo.svg">
      <img src="../../../assets/icons/instagram-logo.svg">
      <img src="../../../assets/icons/twitter-logo-silhouette.svg">
    </div>


    <div class="languages">
      <img src="../../../assets/icons/united-kingdom.svg">
      <img src="../../../assets/icons/germany.svg">
      <img src="../../../assets/icons/france.svg">
      <img src="../../../assets/icons/spain.svg">
      <img src="../../../assets/icons/japan.svg">
    </div>
  </div>

  <a routerLink=""><img src="../../../assets/img/flights-logo-white.png"></a>

</div>
