:host {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: #023246;
  padding: 48px 140px 0;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #D4D4CE;
    font-weight: 900;
    height: 1.5rem;

    span {
      cursor: pointer;
    }
  }

  .social-icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 48px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .languages {
      display: flex;
      width: 20%;
      justify-content: space-between;
      margin-top: 48px;

      img {
        display: flex;
        height: 24px;
        width: 24px;
      }
    }
  }

  a {
    margin-top: 100px;
    width: 25%;

    img {
      height: 60%;
    }
  }
}
