<div class="review-container">

  <div class="review col-md-4">
    <img src="../../../assets/icons/computer-icon.svg"><br>
    <span class="title">Niezawodnie i darmowo</span><br>
    <span>Nasze usługi są całkowicie bezpłatne - brak ukrytych kosztów i opłat - i polecane przez media,
      takie jak Frommer's, CNN, czy New York Times.
    </span>
  </div>

  <div class="review col-md-4">
    <img src="../../../assets/icons/location-icon.svg"><br>
    <span class="title">Znajdź najlepsze oferty</span><br>
    <span>Znajdujemy i porównujemy aktualne ceny lotów, hoteli oraz wynajmu samochodów,
      aby pokazać Ci najtańsze, najszybsze i najlepsze oferty podróży.
    </span>
  </div>

  <div class="review col-md-4" style="padding-top: 45px">
    <img src="../../../assets/icons/conversation-icon.svg"><br>
    <span class="title">No. 1 wyszukiwarka w Europie</span><br>
    <span>Porównujemy oferty biletów lotniczych zarówno linii lotniczych jak i biur podróży,
      aby dać Ci pewność najniższej możliwej ceny.
      Dzięki temu pokochało nas już miliony miłośników tanich lotów w Polsce i na świecie.
    </span>
  </div>

</div>
