<div class="nav-bar">
  <a routerLink=""><img src="../../../assets/img/flights-logo-white.png"></a>
  <div class="nav-bar__tabs-wrapper">
    <div class="nav-bar__tab" routerLinkActive="border-bottom">
      <a routerLink="/loty"><span>Loty</span></a>
    </div>
    <div class="nav-bar__tab" routerLinkActive="border-bottom">
      <a routerLink="/hotele"><span>Hotele</span></a>
    </div>
    <div class="nav-bar__tab" routerLinkActive="border-bottom">
      <a routerLink="/samochody"><span>Samochody</span></a>
    </div>
    <!--<div class="nav-bar__tab" routerLinkActive="border-bottom">-->
      <!--<a routerLink="/discover"><span>Odkrywaj</span></a>-->
    <!--</div>-->
    <!--<div class="nav-bar__tab" routerLinkActive="border-bottom" data-toggle="modal" data-target="#myModal">-->
      <!--<span>Zaloguj się</span>-->
    <!--</div>-->
  </div>
</div>
