.nav-bar {
  display: flex;
  height: 88px;
  padding: 0 140px;
  justify-content: space-between;
  background-color: #023246;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);


  &__tabs-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__tab {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
  }
}

img {
  //width: 20%;
  height: 60%;
  margin-top: 17px;
}
