@import "../component-styles/item-flex";
@import "../component-styles/icon-drp";

:host {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 140px;
  margin: 12px 0;

  .filter-wrap {
    margin-bottom: 24px;
    align-self: flex-start;

    input {
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      padding: 6px;
    }
  }

  .search-header {
    display: flex;
    margin-bottom: 12px;
    align-self: flex-start;

    .header-text {
      color: #D4D4CE;
      margin-right: 24px;
      font-weight: bold;
    }
  }

  .search {
    display: inline-flex;
    height: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #D4D4CE;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 12px;

    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    .item-flex {
      padding: 0;
      position: relative;
      margin: 0 3px;
    }

    input {
      border: none;
      padding: 0;
      box-shadow: none;
    }

    input:focus {
      outline: none;
    }
  }

  table {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 0;
    margin-right: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    tr {
      cursor: pointer;
    }
  }

  .active {
    background-color: #D4D4CE;
  }
}
