<div class="search-header">
  <div class="header-text">Wybierz lot</div>
</div>

<div class="search">
  <div class="search-container">

      <table class="table table-hover">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Wylot</th>
          <th scope="col">Przylot</th>
          <th scope="col">Data wylotu</th>
          <th scope="col">Data przylotu</th>
          <th scope="col">Klasa lotu</th>
          <th scope="col">Czas lotu</th>
          <th scope="col">Cena (PLN)</th>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights">
            <td>{{flight.id}}</td>
            <td>{{flight.departureCity}}</td>
            <td>{{flight.arrivalCity}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.arrivalDate}}</td>
            <td>{{flight.flightClass}}</td>
            <td>{{flight.time}}</td>
            <td>{{flight.price}}</td>
          </tr>
        </tbody>

      </table>

    <app-btn-primary [btnText]="'Zarezerwuj' "style="margin: 0 3px" routerLink="/loty/recommended"></app-btn-primary>
  </div>


</div>
