<div class="search-header">
  <div class="header-text" (click)="checkOneWay()" [ngClass]="{'checked': isOneWay}">W jedną stronę</div>
  <div class="header-text" (click)="checkTwoWays()" [ngClass]="{'checked': isTwoWays}">W dwie strony</div>
</div>

<div class="search">
  <div class="search-container">
    <div class="item-flex">

      <img src="../../../assets/icons/ic_flight_takeoff_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Skąd?" list="departure">
        <datalist id="departure">
          <option *ngFor="let city of flights" value="{{city.departureCity}}"></option>
        </datalist>

    </div>

    <div class="item-flex" *ngIf="!isOneWay && isTwoWays">
      <img src="../../../assets/icons/ic_flight_land_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Dokąd?" list="arrival">


        <datalist  id="arrival">
          <option *ngFor="let city of flights" value="{{city.arrivalCity}}"></option>
        </datalist>

    </div>

    <div class="item-flex">
      <img src="../../../assets/icons/ic_date_range_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03" list="date">


        <datalist id="date">
          <option *ngFor="let date of flights" value="{{date.departureDate}} - {{date.arrivalDate}}"></option>
        </datalist>

    </div>

    <div class="item-flex">
      <img src="../../../assets/icons/ic_group_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03" list="flightClass">

      <datalist id="flightClass">
        <option *ngFor="let flightClass of flights" value="{{flightClass.flightClass}}"></option>
      </datalist>

    </div>

    <app-btn-primary [btnText]="'Wyszukaj'"></app-btn-primary>
  </div>


</div>
