<div class="article__wrapper">
  <h1>{{amsterdamHeader}}</h1>
  <h3>{{amsterdamSec}}</h3>

  <h4>Screaming Beans</h4>
  <h5>Temat kawy to tutaj nie przelewki. Jak wskazuje nazwa, mimo silnej orientacji na dobrą kawę,
    za barem nie spotkasz kawowych snobów, tylko sympatyczną i dobrze przygotowaną obsługę. Jedne z najlepszych oferowanych
    tu ziaren pochodzą z Etiopii i Tanzanii, a serce klientów roztapia tutejsze podwójne doppio (dwa pełne szoty espresso).
    Jeśli zatrzymujesz się w Hotelu IX, który mieści się tuż nad barem albo jeśli akurat robisz zakupy w ‚Nine Streets‚ – przyjdź
    tutaj na smaczne lunchowe tosty.</h5>
</div>
