:host {
  display: flex;
  flex-direction: column;

  .search-header {
    display: flex;
    margin-bottom: 12px;
    align-self: flex-start;
    padding: 0 140px;

    .header-text {
      color: #D4D4CE;
      margin-right: 24px;
      font-weight: bold;
    }
  }


  .filter-wrap {
    margin-bottom: 24px;
    padding: 0 140px;

    input {
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      padding: 6px;
    }
  }

  .hotels-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #D4D4CE;
    padding: 12px;
    margin: 0 140px;
    border-radius: 8px;

    table {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      tr {
        cursor: pointer;
      }
    }
  }

  .active {
    background-color: #D4D4CE;
  }
}
