<!-- Search Field -->
<div class="filter-wrap">
  <input [(ngModel)]="searchText" placeholder="Szukaj miasta" class="filter-input">
</div>

<div class="hotels-wrapper">
  <table class="table table-borderless table-hover">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Hotel</th>
    <th scope="col">Miasto</th>
    <th scope="col">Zameldowanie</th>
    <th scope="col">Wymeldowanie</th>
    <th scope="col">Długość pobytu</th>
    <th scope="col">Cena (PLN)</th>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of filteredHotels; let i = index" [ngClass]="{'active': isHotelChosen === i}"
        (click)="chooseHotel(i)">
      <td>{{hotel.hotelId}}</td>
      <td>{{hotel.hotelName}}</td>
      <td>{{hotel.city}}</td>
      <td>{{hotel.firstDate}}</td>
      <td>{{hotel.secDate}}</td>
      <td>{{hotel.time}}</td>
      <td>{{hotel.price}}</td>
    </tr>
    </tbody>
  </table>

  <app-btn-primary [hotelID]="isHotelChosen"
                   [isBtnDisabled]="disableButton"
                   [btnText]="'Zarezerwuj'"
                   [routerLink]="['/hotele/rezerwacja/', isHotelChosen]" style="margin: 0 3px"></app-btn-primary>
</div>

