<div class="table-responsive" *ngIf="router.url === '/loty/rezerwacja/' + id">
<table class="table table-borderless">
  <thead>
  <tr>
    <th class="col">Nazwa linii</th>
    <th class="col">Wylot</th>
    <th class="col">Przylot</th>
    <th class="col">Data wylotu</th>
    <th class="col">Data przylotu</th>
    <th class="col">Czas lotu</th>
    <th class="col">Klasa lotu</th>
    <td class="col">
      <app-btn-primary class="btn-none" [btnText]="'Rezerwuj'"></app-btn-primary>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="col">
      <img *ngIf="id === 0 || id === 4 || id === 10" src="../../../assets/img/Lufthansa_logo_1.png"/>
      <img *ngIf="id === 1 || id === 8" src="../../../assets/img/Aeroflot_1932.png"/>
      <img *ngIf="id === 2 || id === 3 || id === 6 || id === 9 || id === 11 || id === 12" src="../../../assets/img/screen1.jpg"/>
      <img *ngIf="id === 5 || id == 7" src="../../../assets/img/lot.png"/>
    </td>
    <td class="col">{{departureCity}}</td>
    <td class="col">{{arrivalCity}}</td>
    <td class="col">{{departureDate}}</td>
    <td class="col">{{arrivalDate}}</td>
    <td class="col">{{time}}</td>
    <td class="col">{{flightClass}}</td>

    <td>
      <span>{{price}} PLN</span>
      <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/booking/', id]" ></app-btn-primary>
    </td>
  </tr>

  </tbody>
</table>
</div>

<div class="table-responsive" *ngIf="router.url === '/hotele/rezerwacja/' + hotelId">
  <table class="table table-borderless">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Hotel</th>
    <th scope="col">Miasto</th>
    <th scope="col">Zameldowanie</th>
    <th scope="col">Wymeldowanie</th>
    <th scope="col">Długość pobytu</th>
    <th scope="col">Cena (PLN)</th>
    </thead>
    <tbody>
    <tr>
      <td class="col">{{hotelId}}</td>
      <td class="col">{{city}}</td>
      <td class="col">{{hotelName}}</td>
      <td class="col">{{firstDate}}</td>
      <td class="col">{{secDate}}</td>
      <td class="col">{{timeHotel}}</td>

      <td>
        <span>{{priceHotel}} PLN</span>
        <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/booking/', hotelId]"></app-btn-primary>
      </td>
    </tr>

    </tbody>
  </table>
</div>



