<div class="table-responsive" *ngIf="router.url === '/loty/rezerwacja/' + id">
  <table class="table table-borderless">
    <thead>
    <tr>
      <th class="col">Nazwa linii</th>
      <th class="col">Wylot</th>
      <th class="col">Przylot</th>
      <th class="col">Data wylotu</th>
      <th class="col">Data przylotu</th>
      <th class="col">Czas lotu</th>
      <th class="col">Klasa lotu</th>
      <td class="col">
        <app-btn-primary class="btn-none" [btnText]="'Rezerwuj'"></app-btn-primary>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col">
        <img *ngIf="id === 0 || id === 4 || id === 10" src="../../../assets/img/Lufthansa_logo_1.png"/>
        <img *ngIf="id === 1 || id === 8" src="../../../assets/img/Aeroflot_1932.png"/>
        <img *ngIf="id === 2 || id === 3 || id === 6 || id === 9 || id === 11 || id === 12"
             src="../../../assets/img/screen1.jpg"/>
        <img *ngIf="id === 5 || id == 7" src="../../../assets/img/lot.png"/>
      </td>
      <td class="col">{{departureCity}}</td>
      <td class="col">{{arrivalCity}}</td>
      <td class="col">{{departureDate}}</td>
      <td class="col">{{arrivalDate}}</td>
      <td class="col">{{time}}</td>
      <td class="col">{{flightClass}}</td>

      <td>
        <span>{{price}} PLN</span>
        <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/loty/booking/', id]"></app-btn-primary>
      </td>
    </tr>

    </tbody>
  </table>
</div>

<div class="table-responsive" *ngIf="router.url === '/hotele/rezerwacja/' + hotelId">
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">Hotel</th>
      <th scope="col">Miasto</th>
      <th scope="col">Zameldowanie</th>
      <th scope="col">Wymeldowanie</th>
      <th scope="col">Długość pobytu</th>
      <th scope="col">Cena (PLN)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col">
        <img *ngIf="hotelId === 0 || hotelId === 3" src="../../../assets/img/novotel.jpg"/>
        <img *ngIf="hotelId === 1" src="../../../assets/img/tulip.jpg"/>
        <img *ngIf="hotelId === 2" src="../../../assets/img/centrum.jpg"/>
        <img *ngIf="hotelId === 4" src="../../../assets/img/western-hotel.jpg"/>
        <img *ngIf="hotelId === 5" src="../../../assets/img/park-inn.jpg"/>
        <img *ngIf="hotelId === 6" src="../../../assets/img/novum-hotel.jpg"/>
        <img *ngIf="hotelId === 7" src="../../../assets/img/matreshka.jpg"/>
        <img *ngIf="hotelId === 8" src="../../../assets/img/aparthotel-moskwa.jpg"/>
        <img *ngIf="hotelId === 9" src="../../../assets/img/domidea.jpg"/>
        <img *ngIf="hotelId === 10" src="../../../assets/img/caravel.jpg"/>
        <img *ngIf="hotelId === 11" src="../../../assets/img/trinity.jpg"/>
        <img *ngIf="hotelId === 12" src="../../../assets/img/kjarnalundur.jpg"/>
        <img *ngIf="hotelId === 13" src="../../../assets/img/arctic.jpg"/>
        <img *ngIf="hotelId === 14" src="../../../assets/img/tribeca.jpg"/>
        <img *ngIf="hotelId === 15" src="../../../assets/img/millenium.jpg"/>
        <img *ngIf="hotelId === 16" src="../../../assets/img/paramount.jpg"/>
        <img *ngIf="hotelId === 17" src="../../../assets/img/bcn.jpg"/>
        <img *ngIf="hotelId === 18" src="../../../assets/img/balmoral.jpg"/>
        <img *ngIf="hotelId === 19" src="../../../assets/img/catalunya.jpg"/>
        <img *ngIf="hotelId === 20" src="../../../assets/img/song.jpg"/>
        <img *ngIf="hotelId === 21" src="../../../assets/img/ultimo.jpg"/>
        <img *ngIf="hotelId === 22" src="../../../assets/img/sunroute.jpg"/>
        <img *ngIf="hotelId === 23" src="../../../assets/img/westbridge.jpg"/>
        <img *ngIf="hotelId === 24" src="../../../assets/img/the%20blair.jpg"/>
        <img *ngIf="hotelId === 25" src="../../../assets/img/edynburg.jpg"/>
      </td>

      <td class="col">{{hotelName}}</td>
      <td class="col">{{city}}</td>
      <td class="col">{{firstDate}}</td>
      <td class="col">{{secDate}}</td>
      <td class="col">{{timeHotel}}</td>

      <td>
        <span>{{priceHotel}} PLN</span>
        <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/hotele/booking/', hotelId]"></app-btn-primary>
      </td>
    </tr>

    </tbody>
  </table>
</div>


<div class="table-responsive" *ngIf="router.url === '/samochody/rezerwacja/' + carId">
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">Samochód</th>
      <th scope="col">Miasto</th>
      <th scope="col">Opis</th>
      <th scope="col">Data odbioru</th>
      <th scope="col">Data zwrotu</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col">{{carBrand}}</td>
      <td class="col">{{place}}</td>
      <td class="col">{{description}}</td>
      <td class="col">{{receivingDate}}</td>
      <td class="col">{{returnDate}}</td>

      <td>
        <span>{{carPrice}} PLN</span>
        <app-btn-primary [btnText]="'Rezerwuj'" [routerLink]="['/samochody/booking/', carId]"></app-btn-primary>
      </td>
    </tr>

    </tbody>
  </table>
</div>
