<div class="confirmation__wrapper" *ngIf="router.url === '/loty/booking/confirmation/' + id">

  <div class="confirmation__header">
    <img src="../../../assets/img/success.png"/>
    <h3>Rezerwacja potwierdzona!</h3>
  </div>

  <h4 class="confirmation__secondary-text">Informacje dotyczące Twojego lotu</h4>
  <h6>{{departureCity}} - {{arrivalCity}}</h6>
  <h6>Wylot: {{departureDate}} </h6>
  <h6>Przylot: {{arrivalDate}}</h6>
  <h6>{{price}} PLN</h6>
  <h6 style="margin-bottom: 24px">Klasa podróży: {{flightClass}}</h6>
  <h6 style="color: #7f7f7f;">Potwierdzenie rezerwacji zostanie przesłane na Twojego maila.</h6>

  <app-btn-secondary class="btn-confirmation" [buttonSecondaryText]="'Wróć na stronę główną'" [routerLink]="['/loty']"></app-btn-secondary>
</div>


<div class="confirmation__wrapper" *ngIf="router.url === '/hotele/booking/confirmation/' + hotelId">

  <div class="confirmation__header">
    <img src="../../../assets/img/success.png"/>
    <h3>Rezerwacja potwierdzona!</h3>
  </div>

  <h4 class="confirmation__secondary-text">Informacje dotyczące Twojej rezerwacji</h4>
  <h6>{{city}}</h6>
  <h6>Zameldowanie: {{firstDate}} </h6>
  <h6>Wymeldowanie: {{secDate}}</h6>
  <h6 style="margin-bottom: 24px">Czas pobytu: {{timeHotel}}</h6>
  <h6>{{priceHotel}} PLN</h6>
  <h6 style="color: #7f7f7f;">Potwierdzenie rezerwacji zostanie przesłane na Twojego maila.</h6>

  <app-btn-secondary class="btn-confirmation" [buttonSecondaryText]="'Wróć na stronę główną'" [routerLink]="['/hotele']"></app-btn-secondary>
</div>

<div class="confirmation__wrapper" *ngIf="router.url === '/samochody/booking/confirmation/' + carId">

  <div class="confirmation__header">
    <img src="../../../assets/img/success.png"/>
    <h3>Rezerwacja potwierdzona!</h3>
  </div>

  <h4 class="confirmation__secondary-text">Informacje dotyczące Twojej rezerwacji</h4>
  <h6>{{place}}</h6>
  <h6>Samochód: {{carBrand}}</h6>
  <h6>Opis: {{description}}</h6>
  <h6>Data odbioru: {{receivingDate}} </h6>
  <h6>Data zwrotu: {{returnDate}}</h6>
  <h6>{{carPrice}} PLN</h6>
  <h6 style="color: #7f7f7f;">Potwierdzenie rezerwacji zostanie przesłane na Twojego maila.</h6>

  <app-btn-secondary class="btn-confirmation" [buttonSecondaryText]="'Wróć na stronę główną'" [routerLink]="['/samochody']"></app-btn-secondary>
</div>
